<!DOCTYPE html>
<html>
<head>
    <title>Destinationer</title>
</head>
<body>
    <h1>Destinationer for {{ trip[1] }}</h1>

    <p>
        Rejseperiode: {{ trip[2] }} - {{ trip[3] }}
    </p>

    <form method="POST">
        <input type="text" name="name" placeholder="By, Land" required>

        <select name="destination_type" required>
            <option value="">Vælg destinationstype</option>
            <option value="by">By</option>
            <option value="strand">Strand</option>
            <option value="ski">Ski</option>
            <option value="cykeltur">Cykeltur</option>
            <option value="fest">Fest</option>
            <option value="vandring">Vandring</option>
            <option value="camping">Camping</option>
            <option value="arbejde">Arbejde</option>
            <option value="familie">Familie</option>
            <option value="andet">Andet</option>
        </select>

        <input type="text" name="currency" placeholder="Valuta fx USD/EUR/DKK">

        <input type="date" name="arrival" min="{{ trip[2] }}" max="{{ trip[3] }}" required >

        <input type="date" name="departure" min="{{ trip[2] }}" max="{{ trip[3] }}" required>

        <button type="submit">Tilføj destination</button>
    </form>

    <h2>Tilføjede destinationer</h2>

    <ul>
        {% for destination in destinations %}
            <li>
                {{ destination[0] }}
                - {{ destination[1] }}
                - {{ destination[2] }}
                ({{ destination[3] }} - {{ destination[4] }})
            </li>
        {% endfor %}
    </ul>

    <a href="/">Tilbage til mine rejser</a>
</body>
</html>